services:
  postgres:
    image: postgres:15
    container_name: mlflow_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: mlflow_minio
    restart: always
    command: server /data --address ":9000" --console-address ":9023"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9023"
    volumes:
      - ./minio_data:/data
    
  mlflow:
    build: .
    container_name: mlflow_server
    restart: always
    depends_on:
      - postgres
      - minio
    environment:
      POSTGRES_URI: ${POSTGRES_URI}
      ARTIFACT_ROOT: ${ARTIFACT_ROOT}
      MLFLOW_S3_ENDPOINT_URL: ${MLFLOW_S3_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}

    ports:
      - "5000:5000"
