# MLflow PostgreSQL
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow
POSTGRES_PORT=5434
MLFLOW_POSTGRES_URI=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@mlflow-db:5432/${POSTGRES_DB}

# Airflow PostgreSQL
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_PORT=5435
AIRFLOW_DB_URI=postgresql+psycopg2://${AIRFLOW_DB_USER}:${AIRFLOW_DB_PASSWORD}@airflow-db:5432/${AIRFLOW_DB_NAME}
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_SECRET_KEY=change-me

# Application PostgreSQL (data + predictions)
APP_DB_USER=app_user
APP_DB_PASSWORD=app_password
APP_DB_NAME=app_db
APP_DB_PORT=5436
APP_DB_URI=postgresql+psycopg2://${APP_DB_USER}:${APP_DB_PASSWORD}@app-db:5432/${APP_DB_NAME}

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_PORT=9001
MINIO_CONSOLE_PORT=9024
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
S3_ARTIFACT_BUCKET=mlflow

# MLflow
MLFLOW_PORT=5001
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=iris-classification
MLFLOW_MODEL_NAME=iris_classifier
ARTIFACT_ROOT=s3://${S3_ARTIFACT_BUCKET}/
MLFLOW_SERVER_ALLOWED_HOSTS=*

# AWS for MinIO
AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}

# Model server polling
MODEL_SERVER_POLL_SECONDS=120
MODEL_NAME=
MODEL_ALIAS=Production
MODEL_ROLE=production

# Model server ports
MODEL_SERVER_PORT=8003
TAG_WATCHER_PORT=8010

# Airflow Web
AIRFLOW_WEB_PORT=8081

# Monitoring
PROMETHEUS_PORT=9091
GRAFANA_PORT=3001

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin




